.main-container {
    height: 80%;
    width: 100%;
}

.content-holder {
    height: 60%;
    width: 60%;
    /* background-color: rgb(209, 211, 212); */
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
}
h1 {
    color: rgb(66, 66, 66);
}
.text-container, .image-container {
    height: 100%;
    width: 50%;
    color: grey;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.portfolio-button {
    width: 8rem;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    background: none;
    background-color: #FFE06B;
    transition: all .2s ease-in;
    padding: .8rem;
    border-radius: 2rem;
    border: 1px solid #FFE06B;
}

.portfolio-button:hover {
    background-color: #3DCFD3;
    border: 1px solid #3DCFD3;
    /* box-shadow: 2px 2px 10px 1px rgb(141, 139, 139); */
}
